<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="css/glide.core.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
  </style>
  <body>
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/FindGift/FindGift.html")
    @@include("../blocks/modules/about/about.html")
    @@include("../blocks/modules/giftslider/giftslider.html")
    @@include("../blocks/modules/contacts/contacts.html")
    @@include("../blocks/modules/blog/blog.html")
    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
    <script src="glide/glide.min.js"></script>
    <script>
      new Glide(".glide", {
        type: "carousel",
        startAt: 0,
        perView: 4,
        breakpoints: {
          1439: {
            perView: 3,
          },
          997: {
            perView: 2,
          },
          767: {
            perView: 1,
          },
        },
      }).mount();
    </script>
  </body>
</html>
